src/META-INF/wsdl/localhost_8080/SOAPconverter/BoxConverter.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="converter" type="tns:converter"/>

<xs:element name="converterResponse" type="tns:converterResponse"/>

<xs:complexType name="converter">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="weight" type="xs:double"/>
<xs:element name="w" type="xs:double"/>
<xs:element name="h" type="xs:double"/>
<xs:element name="d" type="xs:double"/>
<xs:element name="unitType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="converterResponse">
<xs:sequence>
<xs:element name="return" type="tns:box" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="box">
<xs:sequence>
<xs:element name="d" type="xs:double"/>
<xs:element name="h" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="w" type="xs:double"/>
<xs:element name="weight" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>